.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-ber {
  width: 20vw;
  height: 100vh;
  background-color: #fff;
}

.room-user__list {
  display: block;
  margin: 5vh 0;
}

.user-list {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  background-color: #d9f99d;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.user-list:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.main-chat {
  width: calc(100vw - 20vw);
  height: 100vh;
}

.chat-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #bae6fd;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
}

.chat-title {
  margin-left: 2vw;
  font-size: 40px;
  font-weight: 500;
}

.chat-event,
.chat-edit,
.chat-destroy {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 2vw;
  background-color: #d9f99d;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.chat-event:hover,
.chat-edit:hover,
.chat-destroy:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.edit-name,
.event-name,
.destroy-name {
  text-decoration: none;
  color: #000000;
}

.chat-messages {
  height: 80vh;
  overflow-y: scroll;
  background-color: #bae6fd;
}

span.message-date {
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #bae6fd;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upper-message {
  display: flex;
  margin: 1vh 0 0 1vw;
}

.my-image,
.your-image {
  width: 5vw;
  height: auto;
  text-align: right;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.my-full__name,
.your-full__name {
  font-size: 15px;
  color: #000000;
  border-radius: 6px;
  background-color: #d9f99d;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.my-lower__message,
.your-lower__message {
  display: flex;
  margin: 0.5vh 1vw;
}

.my-lower__message {
  float: right;
  margin-left: auto;
  margin-right: 2vw;
}

.my-message__content,
.your-message__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.your-message__content {
  align-items: flex-start;
}

.my-message__image,
.your-message__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-content__text,
.your-content__text {
  max-width: 45vw;
  color: #000000;
  padding: 2px 4px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.my-content__text {
  background-color: #d9f99d;
  text-align: left;
}


.my-content__image,
.your-content__image {
  width: 20vw;
  height: 20vh;
  margin-top: 1vh;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.my-content__date,
.your-content__date {
  color: #000000;
  font-size: 5px;
  margin: 0.5vw;
}

.my-content__date {
  float: left;
  clear: both;
}

.chat-form {
  height: 15vh;
  border-radius: 0 0 10px 10px;
  background-color: #bae6fd;
}

.form-message {
  border-radius: 10px;
}

.chat-message {
  width: 50vw;
  height: 6vh;
  margin: 5vh 0 0 1vw;
  border-radius: 10px;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
}

.chat-image {
  display: none;
}

.choose-file {
  margin-left: 1vw;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 2vh 2vw;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.form-submit {
  margin-left: 10vw;
  padding: 1.5vh 2vw;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.form-submit:hover,
.choose-file:hover {
  background-color:  #d9f99d;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}