.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-ber {
  width: 20vw;
  height: 100vh;
  background-color: #fff;
}

.room-user__list {
  display: block;
  margin: 5vh 0;
}

.user-list {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  background-color: #d9f99d;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.user-list:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.main-chat {
  width: calc(100vw - 20vw);
  height: 100vh;
}

.chat-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #bae6fd;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
}

.chat-title {
  margin-left: 2vw;
  font-size: 40px;
  font-weight: 500;
}

.chat-event,
.chat-edit,
.chat-destroy {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 2vw;
  background-color: #d9f99d;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.chat-event:hover,
.chat-edit:hover,
.chat-destroy:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.edit-name,
.event-name,
.destroy-name {
  text-decoration: none;
  color: #000000;
}

.chat-messages {
  height: 80vh;
  overflow-y: scroll;
  background-color: #bae6fd;
}

.upper-message {
  display: flex;
  margin: 1vh 0 0 1vw;
}

.my-image {
  width: 5vw;
  height: auto;
  text-align: right;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.your-image {
  width: 5vw;
  height: auto;
  text-align: right;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.my-message__user {
  margin: 0.5vh 0 0 0.5vw;
}

.your-message__user {
  margin: 0.5vh 0 0 0.5vw;
}

.my-full__name {
  font-size: 15px;
  color: #000000;
  border-radius: 6px;
  background-color: #d9f99d;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.your-full__name {
  font-size: 15px;
  color: #000000;
  border-radius: 6px;
  background-color: #d9f99d;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
}

.lower-message {
  display: flex;
  margin-left: 1vw;
}

.my-message__content {
  width: 35vw;
  background-color: #d9f99d;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
  margin-bottom: 2vh;
}

.your-message__content{
  width: 35vw;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0 rgba(50,50,50,0.5);
  margin-bottom: 2vh;
}

.my-content {
  color: #000000;
  margin: 0 1vw;
  padding: 2px;
}

.your-content {
  color: #000000;
  margin: 0 1vw;
  padding: 2px;
}

.my-date {
  color: #000000;
  font-size: 5px;
  margin-left: 0.5vw;
}

.your-date {
  color: #000000;
  font-size: 5px;
  margin-left: 0.5vw;
}

.chat-form {
  height: 15vh;
  border-radius: 0 0 10px 10px;
  background-color: #bae6fd;
}

.form-message {
  border-radius: 10px;
}

.chat-message {
  width: 50vw;
  height: 6vh;
  margin: 5vh 0 0 1vw;
  border-radius: 10px;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
}

.chat-image {
  margin-left: 3vw;
  color: #000000;
  font-size: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.chat-image:hover {
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.form-submit {
  background-color: #d9f99d;
  margin: 0 1vw;
  padding: 5px 2vw;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.form-submit:hover {
  background-color:  #d9f99d;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}