* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
}

.search-bar-contents {
  width: 100vw;
  display: flex;
}

.header-right {
  width: 100vw;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-chat {
  font-size: 18px;
}

.header-chat:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.header-medical {
  font-size: 18px;
}

.header-medical:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.medical-icon {
  width: 10vw;
  margin-right: 1vw;
}

.medical-icon:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.header-left {
  width: 100vw;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2vw;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-lists img {
  margin-top: 1vh;
}

ul.user-btn {
  padding: 0 3vw;
  margin-bottom: 2vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  background-color: #ccfbf1;
  list-style: none;
}

ul.user-btn:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.user-btn.mypage {
  background-color: #ccfbf1;
  margin-right: 2vw;
}

.user-btn.mypage:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.user-btn.logout {
  background-color: #fb7185;
}

.user-btn.logout:hover {
  background-color:  #fb7185;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.user-btn.login {
  margin-right: 2vw;
}

.user-btn.login:hover {
  background-color:  #ccfbf1;
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}