* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
}

.search-bar-contents {
  width: 100vw;
  display: flex;
}

.header-right {
  width: 100vw;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-chat {
  font-size: 18px;
}

.header-chat:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.header-medical {
  font-size: 18px;
}

.header-medical:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.medical-icon {
  width: 10vw;
  margin-right: 1vw;
}

.header-left {
  width: 100vw;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 2vw;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

ul.mypage-btn {
  padding: 0 2vw;
  margin: 0 2vw 2vh 0;
  background-color: #fb7185;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  list-style: none;
}

ul.logout-btn {
  padding: 0 2vw;
  margin: 0 0 2vh 0;
  background-color: #fb7185;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  list-style: none;
}

ul.login-btn {
  height: 12vh;
  background-color: #ccfbf1;
  padding: 0 3vw;
  margin: 0 2vw 2vh 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  list-style: none;
}

ul.new-member-btn {
  height: 12vh;
  background-color: #ccfbf1;
  margin: 0 0 2vh 0;
  padding: 0 3vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  list-style: none;
}

.new-member {
  text-decoration: none;
  line-height: 32px;
  color: #000000;
  filter: brightness(50%) hue-rotate(90deg);
  padding-top: 1vh;
}