* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
}

.search-bar-contents {
  width: 100vw;
  display: flex;
}

.header-right {
  width: 100vw;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-chat {
  font-size: 18px;
}

.header-chat:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.header-medical {
  font-size: 18px;
}

.header-medical:first-letter {
  font-size: 36px;
  line-height: 2px;
  color: #dc2626;
}

.medical-icon {
  width: 10vw;
  margin-right: 1vw;
}

.header-left {
  width: 100vw;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-access {
  list-style: none;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  margin-right: 2vw;
}

.mypage-btn {
  padding: 0 2vw;
  background-color: #fb7185;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #000000;
  font-weight: bold;
  padding-top: 1vh;
}

.logout-btn {
  padding: 0 2vw;
  background-color: #fb7185;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.logout {
  text-decoration: none;
  color: #333333;
  padding-top: 1vh;
}

.login-btn {
  background-color: #ccfbf1;
  padding: 0 2vw;
  margin-right: 2vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.login {
  text-decoration: none;
  line-height: 32px;
  color: #000000;
  filter: brightness(50%) hue-rotate(90deg);
  padding-top: 1vh;
}

.sign-up {
  text-decoration: none;
  color: #000000;
}

.new-menber-btn {
  background-color: #ccfbf1;
  padding: 0 2vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.new-menber {
  text-decoration: none;
  line-height: 32px;
  color: #000000;
  filter: brightness(50%) hue-rotate(90deg);
  padding-top: 1vh;
}