<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class='header-right'>
      <div class='header-title'>
      <%= link_to image_tag("medical.png", class:"medical-icon"), "/" %>
        <div class='header-chat'>Chat-
        </div>
        <div class='header-medical'>Medical
        </div>
      </div>
    </div>
    <div class='header-left'>
      <div class='user-access'>
        <%# if user_signed_in? %>
        <div class='nav-lists'>
          <ul class='mypage-btn'>
            <li><%#= link_to(image_tag("mypage-image.png",alt: "login",width: 40, height: 40),'#')%></li>
            <!--li class='user_name'>マイページ</li-->
          </ul>
          <ul class='logout-btn'>
            <li><%#= link_to(image_tag("logout-image.png",alt: "login",width: 40, height: 40),'#')%></li>
            <!--li class='user_name'>ログアウト</li-->
          </ul>
        </div>
        <%# else %>
        <div class='nav-lists'>
          <ul class='login-btn'>
            <li><%= link_to(image_tag("login-image.png",alt: "login", width: 40, height: 40), new_user_session_path )%></li>
            <li class='user_name'>ログイン</li>
          </ul>
          <ul class='new-member-btn'>
            <li><%= link_to(image_tag("new-name.png",alt: "new-member",width: 40, height: 40), new_user_registration_path )%></li>
            <li class='user_name'>新規登録</li>
          </ul>
        </div>
        <%# end %>
      </div>
    </div>
  </div>
</header>
