.calender-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous-link,
.next-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

.previous-link:hover,
.next-link:hover {
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.event-btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 1vh 1.5vw;
  background-color: #d1d5db;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgba(100,100,100,0.5);
  transition: all 0.3s ease;
}

.event-btn:hover {
  box-shadow: 12px 12px 12px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.event-circle {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 1vh 1.5vw;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.event-btn__name {
  text-decoration: none;
  color: #000000;
}

.notification-circle {
  font-size: 10px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 3px 7px;
}

.calendar-title {
  display: inline-block;
  color: #000000;
  font-size: 24px;
  margin: 0 1vw;
}

td.saturday {
  color: #2563eb;
}
td.sunday {
  color: #dc2626;
}
