.notification-circle {
  font-size: 10px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 3px 7px;
  margin-right: 0.2vw;
}


.participate {
  background-color: #fdba74;
}

.other {
  background-color: #6ee7b7;
}

.event-name {
  text-decoration: none;
  color: #000000;
}