.mypage-main {
  width: 100vw;
  height: 100vh;
  padding: 10vh 10vw;
}

.mypage-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2vh;
}

.mypage-title img {
  margin: 0 auto;
  margin-top: 10vh;
}

.icon_image {
  width: 20vw;
  height: 30vh;
  border-radius: 100px;
  object-fit: cover;
  display: block;
}

.input-form {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 5vh 5vw;
  background-color: #ccfbf1;
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.9);
}

.name-text {
  font-size: 24px;
  text-align: center;
}

.job-integer {
  font-size: 24px;
  text-align: center;
}

.hobby-text {
  font-size: 24px;
  text-align: center;
  padding: 0 15vw;
}

.context-text {
  font-size: 24px;
  text-align: center;
  padding: 0 10vw 10vh;
}

.user-edit__form {
  font-weight: 600;
  margin-bottom: 5vh;
  padding: 2.5vh 2.5vw;
  border-radius: 30px;
  background-color: #d9f99d;
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.9);
}

.user-edit__form:hover {
  background-color:  #ccfbf1;
  box-shadow: 15px 15px 15px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.user-edit {
  text-decoration: none;
  color: #000000;
  font-size: 32px;
}