.mypage-main {
  width: 100vw;
  height: 100vh;
  padding: 10vh 10vw;
}

.mypage-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2vh;
}

h3 {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.btn-create,
.btn-delete {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.5);
  color: #000;
}

.btn-create {
  background-color: #ccfbf1;
  border-color: #ccfbf1;
}

.btn-delete {
  background-color: #fb7185;
  border-color: #fb7185;
}

.btn-create:hover,
.btn-delete:hover {
  box-shadow: 15px 15px 15px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.follow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.follow-header,
.follower-header,
.follow-count,
.follower-count {
  text-decoration: none;
  color: #000000;
  box-shadow: 5px 5px 5px 0 rgba(100,100,100,0.2);
}

.follow-count,
.follower-count {
  padding-left: 1vw;
}

.follow-header:hover,
.follower-header:hover,
.follow-count:hover,
.follower-count:hover {
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.9);
}

.mypage-title img {
  margin: 0 auto;
  margin-top: 10vh;
}

.icon_image {
  width: 20vw;
  height: 30vh;
  border-radius: 100px;
  object-fit: cover;
  display: block;
}

.input-form {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 5vh 5vw;
  background-color: #ccfbf1;
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.9);
}

.name-text {
  font-size: 24px;
  text-align: center;
}

.job-integer {
  font-size: 24px;
  text-align: center;
}

.hobby-text {
  font-size: 24px;
  text-align: center;
  padding: 0 15vw;
}

.context-text {
  font-size: 24px;
  text-align: center;
  padding: 0 10vw 10vh;
}

.user-edit__form {
  font-weight: 600;
  margin-bottom: 5vh;
  padding: 2.5vh 2.5vw;
  border-radius: 30px;
  background-color: #d9f99d;
  box-shadow: 10px 10px 10px 0 rgba(100,100,100,0.9);
}

.user-edit__form:hover {
  background-color:  #ccfbf1;
  box-shadow: 15px 15px 15px 0 rgba(100,100,100,0.9);
  transform: translateY(-2px);
}

.user-edit {
  text-decoration: none;
  color: #000000;
  font-size: 32px;
}